<div class="s-tray-area--creator">

    <div class="m-tray-title-area">
        <div class="close">
            <button class="close">Close</button>
        </div>
        <h1>Abigail Walsh</h1>
        <div class="meta">Creator, 5 collections, 10 records</div>
    </div>

    <div class="m-tray-records-list">
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
    </div>

</div>