<!DOCTYPE html>
<html>
<head>
    <title>Layers of London | Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'marketing', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<%= render "global/header" %>

<body>
    <div class="m-site-wrapper">

        <div class="m-site-header">
            <div class="m-logo">
                <a href="/">
                    <h1>Layers of London</h1>
                    <%= image_tag("logo.svg") %>
                </a>
            </div>
            <div class="m-navigation">
                <ul class="main-navigation">
                    <li><a href="#">Home</a></li>
                    <li><a href="/pages/map">Map</a></li>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">Map making</a></li>
                    <li><a href="#">Schools, Groups, and Clubs</a></li>
                    <li class="is-current"><a href="#">Events</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul class="user-actions">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
        </div>

        <div class="m-page-header">
            <h1>Events</h1>
        </div>

        <div class="m-events-list">
            <div class="event">
                <a href="#">
                    <div class="date-box">
                        <span class="day">Thursday</span>
                        <span class="date">23 Dec</span>
                        <span class="year">2018</span>
                    </div>
                    <div class="text-content">
                        <h2 class="title">Layers for Schools</h2>
                        <p>Nulla facilisi. Ut vel dapibus purus, eget egestas mauris. Suspendisse placerat rhoncus erat,
                            eu
                            commodo est luctus eu. Nam luctus.</p>
                    </div>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <div class="date-box">
                        <span class="day">Thursday</span>
                        <span class="date">23 Dec</span>
                        <span class="year">2018</span>
                    </div>
                    <div class="text-content">
                        <h2 class="title">Layers for Schools</h2>
                        <p>Nulla facilisi. Ut vel dapibus purus, eget egestas mauris. Suspendisse placerat rhoncus erat,
                            eu
                            commodo est luctus eu. Nam luctus.</p>
                    </div>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <div class="date-box">
                        <span class="day">Thursday</span>
                        <span class="date">23 Dec</span>
                        <span class="year">2018</span>
                    </div>
                    <div class="text-content">
                        <h2 class="title">Layers for Schools</h2>
                        <p>Nulla facilisi. Ut vel dapibus purus, eget egestas mauris. Suspendisse placerat rhoncus erat,
                            eu
                            commodo est luctus eu. Nam luctus.</p>
                    </div>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <div class="date-box">
                        <span class="day">Thursday</span>
                        <span class="date">23 Dec</span>
                        <span class="year">2018</span>
                    </div>
                    <div class="text-content">
                        <h2 class="title">Layers for Schools</h2>
                        <p>Nulla facilisi. Ut vel dapibus purus, eget egestas mauris. Suspendisse placerat rhoncus erat,
                            eu
                            commodo est luctus eu. Nam luctus.</p>
                    </div>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <div class="date-box">
                        <span class="day">Thursday</span>
                        <span class="date">23 Dec</span>
                        <span class="year">2018</span>
                    </div>
                    <div class="text-content">
                        <h2 class="title">Layers for Schools</h2>
                        <p>Nulla facilisi. Ut vel dapibus purus, eget egestas mauris. Suspendisse placerat rhoncus erat,
                            eu
                            commodo est luctus eu. Nam luctus.</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="m-layermaker-banner">
            <div class="title-wrapper">
                <h2 class="subtitle">Volunteer for Layers of London</h2>
                <h3 class="title">Become a layer maker</h3>
            </div>
            <p>Praesent vel lectus non est semper condimentum. Sed dictum, tortor nec sagittis ultrices, risus nulla
                pretium arcu.</p>
            <a class="button">Let's do it</a>
        </div>

        <div class="m-site-footer">
            <div class="copyright">2018 &copy; Layers of London</div>
            <div class="footer-navigation">
                <ul class="user-actions">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="partners">
                <h3>Partners & Supporters</h3>
                <ul>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>

</body>

<%= render "global/footer" %>
</html>
