<!DOCTYPE html>
<html>
<head>
    <title>Layers of London | Help Centre FAQS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'marketing', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<%= render "global/header" %>

<body>
    <div class="m-site-wrapper">

        <div class="m-site-header">
            <div class="m-logo">
                <a href="/">
                    <h1>Layers of London</h1>
                    <%= image_tag("logo.svg") %>
                </a>
            </div>
            <div class="m-navigation">
                <ul class="main-navigation">
                    <li><a href="#">Home</a></li>
                    <li><a href="/pages/map">Map</a></li>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">Map making</a></li>
                    <li><a href="#">Schools, Groups, and Clubs</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul class="user-actions">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
        </div>

        <div class="m-page-header">
            <h1>Help Centre</h1>
        </div>

        <div class="m-sidebar">
            <a href="#" class="back-link">Back to Help Centre home</a>
        </div>

        <div class="m-content">
            <div class="m-faqs">
                <h1>FAQs</h1>
                <h2>Records</h2>
                <ul>
                    <li><a href="#">How can I edit a record i previously created?</a></li>
                    <li><a href="#">How do I delete one of my records?</a></li>
                    <li><a href="#">How do I see a list of records I’ve created?</a></li>
                    <li><a href="#">How do I contact team members?</a></li>
                    <li><a href="#">How do I report a problem with a record?</a></li>
                </ul>
                <h2>Collections</h2>
                <ul>
                    <li><a href="#">How can I edit a record i previously created?</a></li>
                    <li><a href="#">How do I delete one of my records?</a></li>
                    <li><a href="#">How do I see a list of records I’ve created?</a></li>
                    <li><a href="#">How do I contact team members?</a></li>
                    <li><a href="#">How do I report a problem with a record?</a></li>
                </ul>
                <h2>Teams</h2>
                <ul>
                    <li><a href="#">How can I edit a record i previously created?</a></li>
                    <li><a href="#">How do I delete one of my records?</a></li>
                    <li><a href="#">How do I see a list of records I’ve created?</a></li>
                    <li><a href="#">How do I contact team members?</a></li>
                    <li><a href="#">How do I report a problem with a record?</a></li>
                </ul>
                <h2>Teachers</h2>
                <ul>
                    <li><a href="#">How can I edit a record i previously created?</a></li>
                    <li><a href="#">How do I delete one of my records?</a></li>
                    <li><a href="#">How do I see a list of records I’ve created?</a></li>
                    <li><a href="#">How do I contact team members?</a></li>
                    <li><a href="#">How do I report a problem with a record?</a></li>
                </ul>
            </div>
        </div>

        <div class="m-layermaker-banner">
            <div class="title-wrapper">
                <h2 class="subtitle">Volunteer for Layers of London</h2>
                <h3 class="title">Become a layer maker</h3>
            </div>
            <p>Praesent vel lectus non est semper condimentum. Sed dictum, tortor nec sagittis ultrices, risus nulla
                pretium arcu.</p>
            <a class="button">Let's do it</a>
        </div>


        <div class="m-site-footer">
            <div class="copyright">2018 &copy; Layers of London</div>
            <div class="footer-navigation">
                <ul class="user-actions">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="partners">
                <h3>Partners & Supporters</h3>
                <ul>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>

</body>

<%= render "global/footer" %>
</html>
