<!DOCTYPE html>
<html>
  <head>
    <title>PatternPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= render "global/header" %>

  <body>
    <p>
    layouts/templates/<%= File.basename __FILE__ %>
    </p>

    <%= render "list" %>
  </body>

  <%= render "global/footer" %>
</html>
