<!DOCTYPE html>
<html>
<head>

    <title>PatternPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Enriqueta:400,700|IBM+Plex+Serif:400,500,600|Nunito:400,600,700|Roboto+Slab:400,700|Zilla+Slab:400,600,700" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,600|Nunito:400,600,700|Roboto+Slab:400,700" rel="stylesheet">

</head>

<body>

    <div class="m-map-wrapper">

        <div class="m-sidebar">
            <div class="m-tools">
                <div class="m-tool-button m-tool-button--search">
                    <button data-label="Search"><span>Search</span></button>
                </div>
                <div class="m-tool-button m-tool-button--date-range">
                    <button data-label="Date range"><span>Date range</span></button>
                </div>
                <div class="m-tool-button m-tool-button--layers">
                    <button data-label="Layers"><span>Layers</span></button>
                </div>
                <div class="m-tool-button m-tool-button--add-collection">
                    <button data-label="Create collection"><span>Create collection</span></button>
                </div>
                <div class="m-tool-button m-tool-button--add">
                    <button data-label="Add record"><span>Add record</span></button>
                </div>
            </div>
            <div class="m-actions">
                <div class="m-tool-button m-tool-button--your-account">
                    <button data-label="Your account"><span>Your profile</span></button>
                </div>
            </div>
        </div>

        <div class="m-tray-area">
            <div class="open-close">
                <span>Close</span>
            </div>
            <div class="window">
                <%= render "shared/s-tray-area--default" %>
                <%= render "shared/s-tray-area--collection" %>
                <%= render "shared/s-tray-area--team" %>
                <%= render "shared/s-tray-area--creator" %>
                <%= render "shared/s-tray-area--multiple-records" %>
                <%= render "shared/s-tray-area--search-results" %>
                <%= render "shared/s-tray-area--introduction" %>
            </div>
        </div>

        <div class="m-map-area">

            <div class="m-layer-tools is-closed">
                <button>Layer tools</button>
                <div class="panel">
                    <h1>Layer tools</h1>
                    <button><span>Close</span></button>
                    <div class="layer">
                        <span class="dragger"></span>
                        <span class="name">Roque map</span>
                        <div class="slider">
                            <span class="handle"></span>
                        </div>
                    </div>
                    <div class="layer">
                        <span class="dragger"></span>
                        <span class="name">Morgan map</span>
                        <div class="slider">
                            <span class="handle"></span>
                        </div>
                    </div>
                    <div class="layer">
                        <span class="dragger"></span>
                        <span class="name">RAF Photos</span>
                        <div class="slider">
                            <span class="handle"></span>
                        </div>
                    </div>
                    <a href="#">Choose new layers</a>
                </div>

            </div>

            <div class="m-map-place-popover">
                <a href="#">
                    <div class="image random-image"></div>
                    <div class="text-content">
                        <h1>Norbank place</h1>
                        <p>No records here, would you like add one?</p>
                        <button>Create new record</button>
                    </div>
                </a>
            </div>

            <div class="m-map-popover">
                <div class="m-record-card">
                    <a href="#">
                        <div class="image random-image"></div>
                        <div class="text-content">
                            <h1>Donec pretium elementum interdum</h1>
                            <p>Curabitur eget feugiat odio. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus. Nunc feugiat porttitor sapien. Donec luctus.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="m-map">

                <div id="map"></div>

                <script>

                    var map;
                    var placeMarkers = [];
                    var recordMarkers = [];

                    var recordImage;
                    var recordImageHighlighted;

                    function initMap() {

                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 51.519473, lng: -0.108727},
                            zoom: 12,
                            fullscreenControl: false,
                            streetViewControl: false,
                            clickableIcons: false,
                            styles: [
                                {
                                    "featureType": "poi",
                                    "stylers": [
                                        {"visibility": "off"}
                                    ]
                                }
                            ]
                        });

                        // Records

                        recordImage = {
                            url: '/record-marker.svg',
                            size: new google.maps.Size(22, 30),
                            scaledSize: new google.maps.Size(22, 30)
                        };

                        recordImageHighlighted = {
                            url: '/record-marker-highlighted-2.svg',
                            size: new google.maps.Size(35, 35),
                            scaledSize: new google.maps.Size(35, 35)
                        };

                        for (i = 0; i < 50; i++) {
                            var marker = new google.maps.Marker({
                                position: {
                                    lat: 51.444410 + (Math.random() * 0.134487),
                                    lng: -0.190448 + (Math.random() * 0.179957)
                                },
                                icon: recordImage,
                                map: map
                            });
                            recordMarkers.push(marker);

                            marker.addListener('click', function (event) {
                                prototypeFunctionality.markerClicks(event.pixel.x, event.pixel.y);
                            });

                        }

                        // Places

                        var image = {
                            url: '/place-marker-purple.svg',
                            size: new google.maps.Size(12, 12),
                            scaledSize: new google.maps.Size(12, 12)
                        };

                        for (i = 0; i < 20; i++) {

                            var marker = new google.maps.Marker({
                                position: {
                                    lat: 51.444410 + (Math.random() * 0.134487),
                                    lng: -0.190448 + (Math.random() * 0.179957)
                                },
                                icon: image,
                                map: map
                            });

                            placeMarkers.push(marker);

                            marker.addListener('click', function (event) {
                                prototypeFunctionality.placeClicks(event.pixel.x, event.pixel.y);
                            });
                        }

                        map.addListener('click', function (event) {
                            prototypeFunctionality.mapClicks(event.pixel.x, event.pixel.y);
                        });

                        map.addListener('dragend', function (event) {
                            prototypeFunctionality.mapDrag()
                        });


                        hidePlaceMarkers();
                    }

                    function showPlaceMarkers() {
                        for (var i = 0; i < placeMarkers.length; i++) {
                            placeMarkers[i].setMap(map);
                        }
                    }

                    function hidePlaceMarkers() {
                        for (var i = 0; i < placeMarkers.length; i++) {
                            placeMarkers[i].setMap(null);
                        }
                    }

                    function showRecordMarkers() {
                        for (var i = 0; i < recordMarkers.length; i++) {
                            recordMarkers[i].setMap(map);
                        }
                    }

                    function hideRecordMarkers() {
                        for (var i = 0; i < recordMarkers.length; i++) {
                            recordMarkers[i].setMap(null);
                        }
                    }

                    function bounceRandomMarker() {

                        randomMarker = Math.floor(Math.random() * recordMarkers.length);

                        for (var i = 0; i < recordMarkers.length; i++) {
                            recordMarkers[i].setIcon(recordImage);
                        }

                        recordMarkers[randomMarker].setIcon(recordImageHighlighted);
                        //recordMarkers[randomMarker].setAnimation(google.maps.Animation.BOUNCE);

                    }

                    function showAllMarkers() {
                        showPlaceMarkers();
                        showRecordMarkers();
                    }

                    function hideAllMarkers() {
                        hidePlaceMarkers();
                        hideRecordMarkers();
                    }


                </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHJCmva_6AWOfc__sH-Rv6herFIkuEBa0&callback=initMap"
                        async defer></script>

            </div>
            <div class="m-map-zoom-controls"></div>
            <div class="m-map-show-as-list"></div>
            <div class="m-map-layer-controls"></div>
        </div>

        <div class="m-overlay">
            <%= render "shared/s-overlay--search" %>
            <%= render "shared/s-overlay--date-range" %>
            <%= render "shared/s-overlay--layers" %>
            <%= render "shared/s-overlay--add-collection" %>
            <%= render "shared/s-overlay--add-record" %>
            <%= render "shared/s-overlay--your-account--details" %>
            <%= render "shared/s-overlay--your-account--teams" %>
            <%= render "shared/s-overlay--your-account--team-owner" %>
            <%= render "shared/s-overlay--your-account--team-member" %>
            <%= render "shared/s-overlay--your-account--records-collections" %>
            <%= render "shared/s-overlay--your-account--for-teachers" %>
            <%= render "shared/s-overlay--record" %>
        </div>

        <div class="m-place-picker">
            <div class="wrap">
                Pick a place to add a record or
                <input type="text" placeholder="Search"/>
                <button>Search</button>
            </div>
        </div>

    </div>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
