<!DOCTYPE html>
<html>
<head>
    <title>PatternPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

    <div class="m-map-wrapper">

        <div class="m-sidebar">
            <div class="m-tools">
                <div class="m-tool-button m-tool-button--search">
                    <button data-label="Search"><span>Search</span></button>
                </div>
                <div class="m-tool-button m-tool-button--date-range">
                    <button data-label="Date range"><span>Date range</span></button>
                </div>
                <div class="m-tool-button m-tool-button--layers">
                    <button data-label="Layers"><span>Layers</span></button>
                </div>
                <div class="m-tool-button m-tool-button--add-collection">
                    <button data-label="Create collection"><span>Create collection</span></button>
                </div>
                <div class="m-tool-button m-tool-button--add">
                    <button data-label="Add record"><span>Add record</span></button>
                </div>
            </div>
            <div class="m-actions">
                <div class="m-tool-button m-tool-button--your-account">
                    <button data-label="Your account"><span>Your profile</span></button>
                </div>
            </div>
        </div>

        <div class="m-tray-area">
            <div class="open-close">
                <span>Close</span>
            </div>
            <div class="window">
                <%= render "shared/s-tray-area--default" %>
                <%= render "shared/s-tray-area--collection" %>
                <%= render "shared/s-tray-area--team" %>
                <%= render "shared/s-tray-area--creator" %>
                <%= render "shared/s-tray-area--multiple-records" %>
            </div>
        </div>

        <div class="m-map-area">
            <div class="m-map-popover">
                <div class="m-record-card">
                    <a href="#">
                        <div class="image"></div>
                        <div class="text-content">
                            <h1>Donec pretium elementum interdum</h1>
                            <p>Curabitur eget feugiat odio. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus. Nunc feugiat porttitor sapien. Donec luctus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="m-map">

                <div id="map"></div>
                <script>
                    var map;

                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 51.519473, lng: -0.108727},
                            zoom: 12
                        });
                        for (i = 0; i < 40; i++) {
                            var marker = new google.maps.Marker({
                                position: {
                                    lat: 51.444410 + (Math.random() * 0.134487),
                                    lng: -0.190448 + (Math.random() * 0.179957)
                                },
                                map: map
                            });
                        }
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHJCmva_6AWOfc__sH-Rv6herFIkuEBa0&callback=initMap"
                        async defer></script>

            </div>
            <div class="m-map-zoom-controls"></div>
            <div class="m-map-show-as-list"></div>
            <div class="m-map-layer-controls"></div>
        </div>

        <div class="m-overlay is-showing">
            <%= render "shared/s-overlay--search" %>
            <%= render "shared/s-overlay--date-range" %>
            <%= render "shared/s-overlay--layers" %>
            <%= render "shared/s-overlay--add-collection" %>
            <%= render "shared/s-overlay--add" %>
            <%= render "shared/s-overlay--your-account" %>
            <%= render "shared/s-overlay--record" %>
        </div>

    </div>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
