<!DOCTYPE html>
<html>
<head>
    <title>Layers of London | Section landing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'marketing', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<%= render "global/header" %>

<body>
    <div class="m-site-wrapper">

        <div class="m-site-header">
            <div class="m-logo">
                <a href="/">
                    <h1>Layers of London</h1>
                    <%= image_tag("logo.svg") %>
                </a>
            </div>
            <div class="m-navigation">
                <ul class="main-navigation">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Map</a></li>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">Map making</a></li>
                    <li class="is-current"><a href="#">Schools, Groups, and Clubs</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul class="user-actions">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
        </div>

        <div class="m-page-header">
            <h1>Schools, Groups, and Clubs</h1>
            <p>Nunc vel accumsan enim. Phasellus ullamcorper metus elit, et porta est suscipit vitae. Phasellus
                porttitor semper vehicula. Integer a odio pretium, suscipit enim bibendum, aliquet eros. Sed iaculis
                semper dui.</p>
        </div>

        <div class="m-section-landing-subpages">
            <div class="subpage">
                <a href="#">
                    <div class="image"></div>
                    <div class="text-content">
                        <div class="indicator">Using Layers of London in Schools</div>
                        <h3>A guide to using Layers in your school</h3>
                        <div class="description">
                            <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                                libero
                                sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                                porta
                                ligula nisl, eu hendrerit.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="subpage">
                <a href="#">
                    <div class="image"></div>
                    <div class="text-content">
                        <div class="indicator">Groups and Clubs</div>
                        <h3>How to get your group involved</h3>
                        <div class="description">
                            <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                                libero
                                sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                                porta
                                ligula nisl, eu hendrerit.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="subpage">
                <a href="#">
                    <div class="image"></div>
                    <div class="text-content">
                        <div class="indicator">Teaching Resources</div>
                        <h3>Get your class involved</h3>
                        <div class="description">
                            <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                                libero
                                sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                                porta
                                ligula nisl, eu hendrerit.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="m-layermaker-banner">
            <div class="title-wrapper">
                <h2 class="subtitle">Volunteer for Layers of London</h2>
                <h3 class="title">Become a layer maker</h3>
            </div>
            <p>Praesent vel lectus non est semper condimentum. Sed dictum, tortor nec sagittis ultrices, risus nulla
                pretium arcu.</p>
            <a class="button">Let's do it</a>
        </div>

        <div class="m-site-footer">
            <div class="copyright">2018 &copy; Layers of London</div>
            <div class="footer-navigation">
                <ul class="user-actions">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="partners">
                <h3>Partners & Supporters</h3>
                <ul>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="image"></div>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>

</body>

<%= render "global/footer" %>
</html>
