<!DOCTYPE html>
<html>
<head>

    <title>Layers of London | Prototype</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'marketing', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<%= render "global/header" %>

<body>
    <div class="m-site-wrapper">
        <div class="m-site-header">
            <%= yield %>
        </div>
    </div>
</body>

<%= render "global/footer" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
